img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
   }

table {
    border-collapse: collapse;
    /* border: 2px solid rgb(140 140 140);*/
    font-family: sans-serif;
    font-size: 1rem;
    /* letter-spacing: 1px; */
  }
th,
  td {
    /* border: 1px solid rgb(160 160 160); */
    padding: 8px 10px;
  }
h1 {
    color: rgb(4, 11, 82);
    font-size: 70px;
    font-family: sans-serif;
 }
 h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: sans-serif;
 }
 h3 {
    color: rgb(4, 11, 82);
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
 }
 caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }

thead,
        tfoot {
          background-color: rgb(144, 179, 243);
          font-size: 20px;

        }
        
        th,
        td {
          /* border: 1px solid rgb(160 160 160); */
          padding: 8px 10px;
        }
        
        td:last-of-type {
          text-align: left;
        }
        
        tbody > tr:nth-of-type(even) {
          background-color: rgb(237 238 242);
        
        }
        
        tfoot th {
          text-align: right;
        }
        
        tfoot td {
          font-weight: bold;
        }